
body{
    font-family: Montserrat;
    text-align: center;
}

h1{
    font-family: 'Montserrat-Black', Montserrat;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 1.5;
    color: white;
}

h2, h3, h4, h5, h6{
    font-family: Montserrat;
    font-weight: 700;
}

.section-head{
    font-size: 3.2rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

.section-colored{
    background-color: #ff4c68;
    color: white;
}

.section-white{
    background-color: white;
}

/* section-title */

#title{
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.btn-outline-light{
   margin-left: 1rem; 
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.2rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
    font-size: 1.2 rem;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 300;
}

.downld-btn{
    margin: 5% 3% 5% 0;
}

.phone{
    width: 55%;;
    transform: rotate(25deg);
    right: 20%;
    position: absolute;
}


/* section-features */

#features{
    position: relative;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 7% 15%;
}

.feature-head{
    padding: 1rem 0;
    font-size: 1.27rem;
}

.feature-icon{
    font-size: 3.5em;
    color: #F37A6A;
}

.feature-icon:hover{
    color: #ff4c68;
}

.feature-desc{
    font-weight: 300;
    font-size: 1rem;
}

/* section-testimonials */

#testimonials{
    background-color: #F37A6A;
}

.test-head{
    font-size: 3rem;
    line-height: 1.5;
}

.doggo-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #F37A6A;
    padding-bottom: 3%;
}

.press-img{
    width: 13%;
    margin: 20px;
}



/* section-pricing */

#pricing{
    padding: 100px;
}

.price-head{
    font-size: 3rem;
    line-height: 1.5;
}

.card-head{
    padding: 1rem 0;
    font-size: 1.27rem;
}

.col-pricing{
    padding: 3% 2%;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .phone{
        position: static;
        transform: rotate(0);
    }
}


/* section-cta */

.cta-text{
    font-weight: 900; 
    font-size: 3rem; 
    line-height: 1.5;
    padding-bottom: 2.5rem;;
}

.cta-bttn{
    margin: 1%;
}

.social{
    color: black;
    margin: 1%;
}
